doctype html
html
      head
            title Blog Post: Mid December
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(charset='UTF-8')
            link(rel='stylesheet', type='text/css', href='kevin-earley-website.css', media='screen')
            link(rel='stylesheet', type='text/css', href='blog-post.css', media='screen')

      body
      #site-construction-alert.box-shadow-2
            #site-construction-alert-text
                  p ⚠︎ Site is Under Construction! ⚠︎
      #top-section
            #nav-bar
                  a(href="index.html")
                        #home
                              #page-title
                                    p Kevin Earley's Blog
      #bottom-section
            .blog-post-div.box-shadow-1
                  .blog-post-head
                        p Blog Post: Mid December
                  .blog-post-text
                        p
                        | Tis’ the season, for students stressing over the approaching semester end, and as we begin to find ourselves in colder weather, the Help Desk team has been busy. We have found ourselves replacing many printer ink cartridges recently and genius hours are nearing their fruition. Recently, Josh and I volunteered as tech support, for the Sharin’ Innovation Annual Conference. The conference is a time for teachers to share new teaching methods, ed-tech tools, etc. with one another, which is an idea that I greatly admire. It was neat to see snippets of some of the presentation topics, including everything from project-based learning, to VR, to Minecraft. Happy holidays, to everyone!
            a(href="blog-post-mid-november.html")
                  .next-button.box-shadow-3
                        .next-button-text
                              p
                                    | ◀︎  Last

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
