doctype html
html
      head
            title Blog Post: Late October
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(charset='UTF-8')
            link(rel='stylesheet', type='text/css', href='kevin-earley-website.css', media='screen')
            link(rel='stylesheet', type='text/css', href='blog-post.css', media='screen')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

      body
      #site-construction-alert.box-shadow-2
            #site-construction-alert-text
                  p ⚠︎ Site is Under Construction! ⚠︎
      #top-section
            #nav-bar
                  a(href="index.html")
                        #home
                              #page-title
                                    p Kevin Earley's Blog
      #bottom-section
            .blog-post-div.box-shadow-1
                  .blog-post-head
                        p Blog Post: Late October
                  .blog-post-text
                        p
                              | We have been focusing somewhat less on SchoolDudes, over the past several weeks. Instead, we've been getting our feet wet with making tutorials, using Camtasia, which I was very impressed by. It seems to offer many intelligent features that make it quite easy to film tutorials. We also worked on discussion forums and started to make progress on our genius hour projects. I have just received board approval on research, for my proposals, on the new site. This is exciting because I will now be more free to collect this data and analyze it. The hope is that the organization will soon have a better digital workflow and a better method of reaching out to the public online. These updates would require adoption by board members and other highly active volunteers. Therefore, I have been teaching members of the historical society about how to use google apps and other tech tools, which will make this process more efficient.  I’m looking forward to what’s ahead!
            a(href="blog-post-mid-november.html")
                  .next-button.box-shadow-3
                        .next-button-text
                              p
                                    | Next  ▶︎
            a(href="blog-post-mid-october.html") 
                  .next-button.box-shadow-3
                        .next-button-text
                              p
                                    | ◀︎  Last

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
