doctype html
html
      head
            title Blog Post: Mid October
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(charset='UTF-8')
            link(rel='stylesheet', type='text/css', href='kevin-earley-website.css', media='screen')
            link(rel='stylesheet', type='text/css', href='blog-post.css', media='screen')
      
      body
      #site-construction-alert.box-shadow-2
            #site-construction-alert-text
                  p ⚠︎ Site is Under Construction! ⚠︎
      #top-section
            #nav-bar
                  a(href="index.html") 
                        #home.box-shadow-1
                              #page-title
                                    p Kevin Earley's Blog
      #bottom-section
            .blog-post-div.box-shadow-1
                  .blog-post-head
                        p Blog Post: Mid October
                  .blog-post-text
                        p
                        | During the past few weeks, our help desk time has been spent focusing on a much greater variety of tasks. Josh and I have been working with Dr. Marcus to construct a Lego wall, in the library. We also have begun work on our genius hour projects, which have been quite interesting to work on. Our schooldude requests over the past 2 weeks have been mainly related to laptops and printer issues, which was a nice break from the bombardment of projector struggles, which overtook the first few weeks. We also have worked on several discussion forums, one of which required us to research an educational tool. For my response, I researched PearDeck, a presentation viewer app for the classroom. I think it has serious merit for helping to facilitate a dialogue between the presenter and the viewer. So, as you can see, we have certainly been busy, especially given the shortened weeks recently. However, the variety of activities keep our time spent here very interesting!
            a(href="blog-post-late-september.html") 
                  .next-button.box-shadow-3
                        .next-button-text
                              p
                                    | ◀︎  Last
      
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
