@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\000031}}
body {
  background: #81D4FA; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\000035}}
#top-section {
  height: 11rem;
  background-color: #1565C0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2979ff), color-stop(75%, #2979ff), color-stop(100%, rgba(41, 121, 255, 0)));
  background: -webkit-linear-gradient(top, #2979ff 0%, #2979ff 75%, rgba(41, 121, 255, 0) 100%);
  background: linear-gradient(to bottom, #2979ff 0%, #2979ff 75%, rgba(41, 121, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000320}}
#bottom-section {
  width: auto;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000324}}
#parrallax-paper {
  width: auto;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000329}}
#home {
  height: 3rem;
  width: 20rem;
  background-color: #F5F5F5;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000342}}
#page-title {
  font-family: Kalam;
  font-weight: 700;
  font-size: 1.8rem;
  position: absolute;
  top: -50%;
  color: #2979FF;
  font-variant: small-caps;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000353}}
#bio-header {
  font-family: Kalam;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.5rem;
  color: #F5F5F5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000361}}
#bio-text {
  font-family: rubik;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #F5F5F5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000369}}
#bio {
  margin: 1.5rem;
  height: 25vh;
  overflow-y: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000375}}
.blog-post-head {
  font-family: Kalam;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2rem;
  color: #2979FF;
  font-variant: small-caps; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000384}}
.blog-post-text {
  font-family: rubik;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #263238; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000392}}
.blog-post-div {
  background-color: #B3E5FC; }

@media (max-width: 450px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\0000396}}
  .blog-post-div {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2vh;
    padding: 1.5rem; } }
@media (min-width: 450px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003103}}
  .blog-post-div {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5vh;
    padding: 1.8rem;
    border-radius: 1rem; } }
@media (min-width: 800px) and (max-width: 1300px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003111}}
  .blog-post-div {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    padding: 2rem;
    border-radius: 1.25rem; } }
@media (min-width: 1300px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003119}}
  .blog-post-div {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    padding: 3rem;
    border-radius: 1.25rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003126}}
#site-construction-alert {
  background-color: #FF6D00;
  color: #F5F5F5;
  width: auto;
  height: 3rem;
  margin: auto;
  font-family: rubik;
  font-weight: 700;
  font-size: 1.5rem;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem;
  line-height: 0rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003141}}
.next-button {
  background-color: #2962FF;
  width: auto;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003148}}
.next-button-text {
  font-family: Rubik;
  font-weight: 400;
  font-size: 2.75vh;
  color: #E3F2FD;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.35vh;
  margin-bottom: 0vh;
  text-decoration: none; }

@media (max-width: 450px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003161}}
  .next-button {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0vh;
    margin-bottom: 0vh; } }
@media (min-width: 450px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003168}}
  .next-button {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5vh; } }
@media (min-width: 800px) and (max-width: 1300px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003176}}
  .next-button {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 5vh; } }
@media (min-width: 1300px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinearley\/Desktop\/School\/Junior\/Tech\%20Help\%20Desk\/Tech\%20Help\%20Desk\%20Blog\/kevin-earley-website\/blog-post\.sass}line{font-family:\00003184}}
  .next-button {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 5vh; } }

/*# sourceMappingURL=blog-post.css.map */