@mixin transition($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition

@mixin transition-property($property...)
  -moz-transition-property: $property
  -o-transition-property: $property
  -webkit-transition-property: $property
  transition-property: $property

@mixin transition-duration($duration...)
  -moz-transition-property: $duration
  -o-transition-property: $duration
  -webkit-transition-property: $duration
  transition-property: $duration

@mixin transition-timing-function($timing...)
  -moz-transition-timing-function: $timing
  -o-transition-timing-function: $timing
  -webkit-transition-timing-function: $timing
  transition-timing-function: $timing

@mixin transition-delay($delay...)
  -moz-transition-delay: $delay
  -o-transition-delay: $delay
  -webkit-transition-delay: $delay
  transition-delay: $delay


body
  background: #81D4FA


#top-section
  height: 20vh
  background-color: #1565C0
  background: -moz-linear-gradient(top, rgba(41, 121, 255, 1) 0%, rgba(41, 121, 255, 1) 75%, rgba(41, 121, 255, 0) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41, 121, 255, 1)), color-stop(75%, rgba(41, 121, 255, 1)), color-stop(100%, rgba(41, 121, 255, 0)))
  background: -webkit-linear-gradient(top, rgba(41, 121, 255, 1) 0%, rgba(41, 121, 255, 1) 75%, rgba(41, 121, 255, 0) 100%)
  background: -o-linear-gradient(top, rgba(41, 121, 255, 1) 0%, rgba(41, 121, 255, 1) 75%, rgba(41, 121, 255, 0) 100%)
  background: -ms-linear-gradient(top, rgba(41, 121, 255, 1) 0%, rgba(41, 121, 255, 1) 75%, rgba(41, 121, 255, 0) 100%)
  background: linear-gradient(to bottom, rgba(41, 121, 255, 1) 0%, rgba(41, 121, 255, 1) 75%, rgba(41, 121, 255, 0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
  z-index: 2
  display: flex
  justify-content: center


#bottom-section
  width: auto
  height: auto

#parrallax-paper
  width: auto
  height: auto


#home
  @include transition(height 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out)
  height: 3rem
  width: 20rem
  background-color: #F5F5F5
  border-radius: 1.5rem
  display: flex
  z-index: 3
  justify-content: center
  position: relative
  margin-left: auto
  margin-right: auto
  margin-top: 7.5vh
  color: #2979FF
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

  &:hover
    @include transition(height 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out)
    height: 3rem
    width: 25rem
    background-color: #0D47A1
    border-radius: 1.5rem
    display: flex
    z-index: 3
    justify-content: center
    position: relative
    margin-left: auto
    margin-right: auto
    margin-top: 7.5vh
    color: #BBDEFB
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  &:active
    @include transition(height 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out)
    height: 3rem
    width: 20rem
    background-color: #0D47A1
    border-radius: 1.5rem
    display: flex
    z-index: 3
    justify-content: center
    position: relative
    margin-left: auto
    margin-right: auto
    margin-top: 7.5vh
    color: #BBDEFB
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  &:visited
    @include transition(height 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out)
    height: 3rem
    width: 20rem
    background-color: #F5F5F5
    border-radius: 1.5rem
    display: flex
    z-index: 3
    justify-content: center
    position: relative
    margin-left: auto
    margin-right: auto
    margin-top: 7.5vh
    color: #2979FF
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

#page-title
  font-family: Kalam
  font-weight: 700
  font-size: 1.8rem
  position: absolute
  top: -50%
  font-variant: small-caps
  text-decoration: none


#bio-header
  font-family: Kalam
  font-weight: 400
  font-size: 2.2rem
  line-height: 1.5rem
  color: #F5F5F5


#bio-text
  font-family: rubik
  font-weight: 400
  font-size: 1.6rem
  line-height: 2.5rem
  color: #F5F5F5


#bio
  margin: 1.5rem
  height: 25vh
  overflow-y: scroll


.blog-post-head
  font-family: Kalam
  font-weight: 700
  font-size: 2.4rem
  line-height: 2rem
  color: #2979FF
  font-variant: small-caps


.blog-post-text
  font-family: rubik
  font-weight: 400
  font-size: 1.6rem
  line-height: 2.8rem
  color: #263238


.blog-post-div
  background-color: #B3E5FC

@media (max-width: 450px)
  .blog-post-div
    @include transition( margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, border-radius 50ms ease-in-out, padding 50ms ease-in-out)
    margin-left: 0rem
    margin-right: 0rem
    margin-top: 2vh
    padding: 1.5rem
    border-radius: 0rem

@media (min-width: 450px) and (max-width: 800px)
  .blog-post-div
    @include transition( margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, border-radius 50ms ease-in-out, padding 50ms ease-in-out)
    margin-left: 1rem
    margin-right: 1rem
    margin-top: 5vh
    padding: 1.8rem
    border-radius: 1rem

@media (min-width: 800px) and (max-width: 1300px)
  .blog-post-div
    @include transition( margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, border-radius 50ms ease-in-out, padding 50ms ease-in-out)
    margin-left: 5vw
    margin-right: 5vw
    margin-top: 5vh
    padding: 2rem
    border-radius: 1.25rem

@media (min-width: 1300px)
  .blog-post-div
    @include transition( margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, border-radius 50ms ease-in-out, padding 50ms ease-in-out)
    margin-left: 20vw
    margin-right: 20vw
    margin-top: 5vh
    padding: 3rem
    border-radius: 1.25rem

#site-construction-alert
  background-color: #FF6D00
  color: #F5F5F5
  width: 100vw
  height: 5vh
  margin: auto
  font-family: rubik
  font-weight: 700
  font-size: 2.75vh
  vertical-align: middle
  display: flex
  justify-content: center
  padding: 0rem
  line-height: 0rem
  position: fixed
  z-index: 5

.next-button
  background-color: #2962FF
  width: auto
  height: 6vh
  display: flex
  padding: 0rem
  &:active
    background-color: #82B1FF
  &:hover
    background-color: #40C4FF
  &:visited
    background-color: #2962FF

.next-button-text
  font-family: Rubik
  font-weight: 400
  font-size: 2.75vh
  color: #E3F2FD
  text-align: center
  margin-left: auto
  margin-right: auto
  margin-top: -1.35vh
  margin-bottom: 0vh

.next-button p
  text-decoration: none

@media (max-width: 450px)
  .next-button
    @include transition(margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, margin-bottom 50ms ease-in-out, border-radius 50ms ease-in-out)
    margin-left: 0rem
    margin-right: 0rem
    margin-top: 0vh
    margin-bottom: 0vh
    border-radius: 0rem

@media (min-width: 450px) and (max-width: 800px)
  .next-button
    @include transition(margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, margin-bottom 50ms ease-in-out, border-radius 50ms ease-in-out)
    margin-left: 1rem
    margin-right: 1rem
    margin-top: 1vh
    margin-bottom: 1vh
    border-radius: 5vh

@media (min-width: 800px) and (max-width: 1300px)
  .next-button
    @include transition(margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, margin-bottom 50ms ease-in-out, border-radius 50ms ease-in-out)
    margin-left: 5vw
    margin-right: 5vw
    margin-top: 1.5vh
    margin-bottom: 1.5vh
    border-radius: 5vh

@media (min-width: 1300px)
  .next-button
    @include transition(margin-left 50ms ease-in-out, margin-right 50ms ease-in-out, margin-top 50ms ease-in-out, margin-bottom 50ms ease-in-out, border-radius 50ms ease-in-out)
    margin-left: 20vw
    margin-right: 20vw
    margin-top: 2.5vh
    margin-bottom: 2.5vh
    border-radius: 5vh

.hover-state
  background-color: #1DE9B6
  border-radius: 50vh
  height: auto

.hover-state-off
  @include transition(width 200ms ease-in-out)
  width: 0rem

.hover-state-on
  @include transition(width 200ms ease-in-out)
  width: 100rem
